.button-control-here {
    align-items: center;
    background-color: var(--quartiary-color);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px #6B757C52;
    cursor: pointer;
    display: flex;
    height: 2rem;
    justify-content: center ;
    margin: 1rem;
    width: 2rem;
    position: absolute;
}

.agroup-control-here {
    background-image: url("../src/assets/icons/Target.svg");
    top: 0;
}

.agroup-control-here:hover {
    background-image: url("../src/assets/icons/Target-hover.svg");
}

.reference-control-here {
    background-image: url("../src/assets/icons/reference.svg");
    top: 11rem;
}

.reference-control-here:hover {
    background-image: url("../src/assets/icons/reference-hover.svg");
    top: 11rem;
}

.fence-control-here {
    background-image: url("../src/assets/icons/fence.svg");
    top: 14rem;
}

.fence-control-here:hover {
    background-image: url("../src/assets/icons/fence-hover.svg");
    top: 14rem;
}


/* zoom */
.H_zoom {
    background-color: var(--quartiary-color);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px #6B757C52;
    position: absolute;
    top: 3rem;
    margin: 1rem;
}

.H_zoom .H_btn {
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;
    height: 2rem;
    justify-content: center ;
    width: 2rem;
}

.H_zoom .zoom-out {
    background-image: url("../src/assets/icons/zoom-out.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-top: 1px solid var(--gray-color-light);
}

.H_zoom .zoom-in {
    background-image: url("../src/assets/icons/zoom-in.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1px solid var(--gray-color-light);
}

.H_zoom svg {
    display: none;
}

.H_zoom .zoom-out:hover {
    background-image: url("../src/assets/icons/zoom-out-hover.svg");
}

.H_zoom .zoom-in:hover {
    background-image: url("../src/assets/icons/zoom-in-hover.svg");
}

/* bubble */
.H_ib {
    background-color: var(--quartiary-color);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    left: -10.8rem;
    padding: 1rem 1rem .2rem 1rem;
    position: absolute;
    top: -19.874rem;

}

.H_ib_body {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: 19.875rem;
    height: 13.313rem;
}

.H_ib_close svg{
   display: none;
}

.H_ib_close {
    background: url("../assets/icons/close.svg");
    cursor: pointer;
    margin-bottom: .438rem;
    height: 1rem;
    width: 1rem;
}

.H_ib_content {
    width: 100%;
    height: 100%;
}

.H_ib_tail {
    background-color: var(--quartiary-color);
    width: 16px;
    height: 16px;
    position: absolute;
    transform: rotate(45deg);
    bottom: -8px;
    left: calc(50% - 16px);
}   

/* cluster */

.cluster-container {
    align-items: center;
    background-color: var(--primary-color);
    border: .5rem solid var(--secondary-color);
    border-radius: 50%;
    color: var(--quartiary-color);
    display: flex;
    font-family: var(--primary-font);
    font-size: .875rem;
    font-weight: 600;
    height: 2rem;
    justify-content: center;
    width: 2rem;
    top: -1rem;
    left: -1rem;
}

.map-settings-control-here {
    background-image: url("../src/assets/icons/Layers.svg");
    top: 8rem;
}

.map-settings-control-here:hover {
    background-image: url("../src/assets/icons/Layers-hover.svg");
    top: 8rem;
}

/* map-settings */
.H_overlay {
    border-radius: 4px;
    position: absolute;
    background-color: var(--quartiary-color);
    left: 3rem;
    width: 10.813rem;
    transform: translateY(1.9rem);
    padding: 1rem;
    display: none;
}

.H_overlay .H_rdo_title {
    font-size: 14px;
    font-weight: 600;
    font-family: var(--primary-font);
}

.map-settings-control-here:hover ~ .H_overlay {
    width: 3rem;
}

/* <div class="H_overlay H_el H_open H_bottom H_right" style="bottom: 0px; margin: 0px 12px; right: 40px;">
    <div class="H_rdo H_el">
        <div class="H_rdo_title H_el">Choose view</div>
            <div class="H_rdo_buttons H_el">
                <div class="H_btn H_el">Normal</div>
            </div>
        </div>
        <div class="H_separator H_el"></div>
        <div class="H_grp H_el">
        <div class="H_btn H_el">Tráfego</div>
        <div class="H_btn H_el">Satélite</div>
    </div>
</div> */