@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    /* cores da aplicação */
    --primary-color: #26333B;
    --primary-color-medium: #3B485B;
    --secondary-color: rgba(255, 255, 255, 0.64);
    --tertiary-color: #FF5656;
    --quartiary-color: #FFFFFF;

    --blue-color-darker: #263F80;
    --blue-color-dark: #2051B3;
    --blue-color-medium: #3972EE;
    --blue-color-lighter: #E5EEFF;

    --green-color-darker: #0A6249;
    --green-color-dark: #00694D;
    --green-color-medium: #12B285;
    --green-color-lighter: #E6F4F0;

    --gray-color-darker: #6B757C;
    --gray-color-dark: #8E969B;
    --gray-color-medium: #B1B7BB;
    --gray-color-light: #D5D8DA;
    --gray-color-lighter: #F5F5F5;    

    --red-color-darker: #942B35;
    --red-color-ligther: #FAEAEC;

    --orange-color-darker: #6C3D18;
    --orange-color-dark: #9E5D28;
    --orange-color-medium: #CE7C3A;
    --orange-color-lighter: #FFF7DA;

    --custom-color-gray: #85919E;
    --custom-color-blue: #6390F5;
    --custom-color-cyan: #3A99D5;
    --custom-color-green: #19A675;
    --custom-color-yellow: #D3771E;
    --custom-color-orange: #E4704D;
    --custom-color-red: #E95F77;
    --custom-color-purple: #C372CF;
    --custom-color-violet: #9B85D7;

    /* fontes da aplicação */
    --primary-font: "Inter", sans-serif;
}