@import './styles/variables.css';
@import './styles/reset.css';

.button-here {
    background-image: url("../src/assets/icons/Target.svg");
    background-color: var(--quartiary-color);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px #6B757C52;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center ;
    z-index: 2;
    position: absolute;
    margin: 1.5rem;
}